.single-product-wrap .product-img-action-wrap .product-action-1 {
    left: 15px;
    bottom: 15px;
}

span.select2.select2-container.select2-container--default {
    width: auto !important;
}

img.thirdparty {
    width: 100px;
}
.header-action-icon-2.thirdparty-header-action-icon-2 {
    margin-right: 15px;
}

.headerflex {
    margin-right: 20px;
}
.headerflex a {
    display: flex;
    flex-direction: column;
    width: auto;
}

.headerflex span {
    font-size: 12px;
    font-weight: 500;
}
section.order-sec {
    padding: 100px 0px 0;
}

.order-content * {
    color: white;
}

.order-content h2 {
    font-size: 50px;
    margin: 0;
    margin-bottom: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.order-content h5 {
    font-size: 25px;
    margin-bottom: 20px;
}
.privacy-policy-area p {
    font-size: 15px;
    color: #444;
    line-height: 1.74;
    margin: 0;
    margin-bottom: 30px;
}
.privacy-policy-area h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 19px;
}
.privacy-policy-area ul{
    padding: 0 0 0 30px;
}
.privacy-policy-area ul li{
    margin: 0 0 14px;
    font-size: 15px;
    color: #444;
    line-height: 1.74;
    list-style: decimal;
}
div#map iframe {
    width: 100%;
    height: 100%;
}
.pro-pagination-style ul li a {
    padding: 0;
    border: 0;
}

span.page-link {
    width: 40px !important;
    height: 40px !important;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    border-radius: 100%;
    margin: 0 2px;
    color: #333;
    padding: 0;
    border-radius: 50px !important;
}
.page-item.active .page-link {
    background-color: #4e97fd;
    margin: 0;
}
span#errormsg {
    color: red;
}

span#validmsg {
    color: green;
}
li.page-item.disabled span {
    background-color: #e5e5e5 !important;
}
ul.pagination li {
    margin: 0px 2px;
}
.about-us-img{
    background-image: url(../images/bg-2.png);
}
.contact-info-wrap .single-contact-info2-wrap .single-contact-info2-content h2 {
    font-size: 35px;
}
.categori-dropdown-active-large {
    z-index: 10;
}
.categori-dropdown-wrap ul li a {
    padding: 5px 30px;
}
.sidebar-product-wrap .single-sidebar-product .slidebar-product-img-3 a img {
    height: 70px;
    object-fit: cover;
}
.cart-shiping-update-wrapper .update-btn a:hover, .cart-shiping-update-wrapper .update-btn button:hover {
    background-color: #e4573d;
}
.cart-shiping-update-wrapper .update-btn a, .update-btn button {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 26px;
    padding: 13px 36px;
    background-color: #4e97fd;
    border: 0px;
}
.skiptranslate {
    display: none !important;
}
.single-contact-wrap.text-center.wow.tmFadeInUp p {
    font-size: 16px;
}
body{
    top:0px !important;
}
.order-summary .order-summary-top .order-summary-img-price .order-summary-img-title .order-summary-title h4 {
    width: 80%;
}
.icon-box-content h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 0px 0 23px;
}
section.order-sec img {
    width: 100%;
}
ul.mobile-menu form input {
    color: #444;
    font-size: 15px;
    min-height: 52px;
    border: 2px solid #eee;
    width: 231px;
    margin: 0;
    border-radius: 30px 0 0 30px;
    background-color: #fff;
}
ul.mobile-menu form button {
    background: #415da1;
    color: white;
    padding: 14px 10px 14px 10px;
    right: 5px;
    bottom: 2px;
    position: relative;
    border-radius: 0 30px 30px 0;
}
ul.mobile-menu form button i {
    margin-right: 7px;
    color: white;
}
ul.mobile-menu select {
    background: aliceblue;
    border-radius: 30px;
    padding: 10px 15px;
    margin-bottom: 11px;
}
.mobile-menu .btn-style-1.checkout a {
    background: #415da1;
    padding:  15px 24px;
    text-align: center;
}

.mobile-menu .btn-style-1.checkout {
    display: flex;
    justify-content: center;
}
.product-action-1{
display:none !important;
}

.openshow {
    position: relative;
    Z-INDEX: 0;
    height: 100%;
    margin-top: 12px;
    display:none;
}



.openshow .categori-dropdown-wrap.categori-dropdown-active-large {
    position: unset;
    transition: all ease 0.5s;
}

.openshow .categori-dropdown-active-large.open {
    height: unset;
}

.openshow .categori-dropdown-active-large {
    height: 0;
}

.openshow a {
    font-size: 20px;
    color: black !important;
    display: flex;
    align-items: center;
    gap: 10px;
}